<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% block title %}Virtual Care Group{% endblock %}</title>

		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
		{% block extrastyle %}
		{% endblock %}

	    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.0.js"></script>
	    <script type="text/javascript">
	    	$(document).ready(function(){
	    		setInterval(function(){
		    		$.ajax({
		    			"type"		: "GET",
		    			"url"		: "/activity/",
		    			"datatype"  : "json",
		    			"cache"		: false,
		    			"success"	: function(json){
		    			}
		    		});
	    		}, 5000);
	    	});
	    </script>
		{% block extrahead %}
		{% endblock %}
	</head>

	<body>
	    {% block content %}
		{% endblock %}
	</body>
</html>