<html>
	<head>
		<title>Users</title>

		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
	    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui-1.10.0.custom.css" media="screen" />
	    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.ui.chatbox.css" />

	    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.0.js"></script>
	    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.0.custom.js"></script>
	    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.chatbox.js"></script>
		
		<script type="text/javascript">
			$(document).ready(function(){
		          var box = null;
		          $(".online_user").click(function(event, ui) {
		        	  var current_chat_id = "chat_div_".concat(this.id);
		        	  $("#chat_div").append('<div id="' + current_chat_id + '"></div>');
		              if(box) {
		                  box.chatbox("option", "boxManager").toggleBox();
		              }
		              else {
		                  box = $("#" + current_chat_id).chatbox({id:current_chat_id, 
		                                                user:{key : "value"},
		                                                title : this.id,
		                                                messageSent : function(id, user, msg) {
		                                                    $("#log").append(id + " said: " + msg + "<br/>");
		                                                    $("#" + current_chat_id).chatbox("option", "boxManager").addMsg(id, msg);
		                                                }});
		              }
		          });

		          $('#conv-div').scrollTop($('#conv-div').height())
				setInterval(function() {
	    			$.ajax({
	    		 		"type"		: "GET",
	    				"url"		: "/users/",
	    				"dataType"	: "json",
	    				"cache"		: false,
	    		  		"success"	: function(json) {
	    		  			$('#conv-div').html('');
	    		  			$.each(json, function(){
		    		  			$('#conv-div').append(this['value'] + '<br>');
	    		  			});
	    		  			$('#conv-div').scrollTop($('#conv-div').height());
	    		  		}
	    	 		});
				}, 2000);

				$('#save').click(function () {
					if ($.trim($('#chat_text').val()).length != 0){
		    			$.ajax({
		    		 		"type"		: $('#chat-form').attr('method'),
		    				"url"		: $('#chat-form').attr('action'),
		    				"dataType"	: "json",
		    				"data"		: $('#chat-form').serialize(),
		    				"cache"		: false,
		    		  		"success"	: function(json) {
		    		  			$('#conv-div').html('');
		    		  			$('#chat_text').val('');
		    		  			$.each(json, function(){
			    		  			$('#conv-div').append(this['value'] + '<br>');
		    		  			});
		    		  			$('#conv-div').scrollTop($('#conv-div').height());
		    		  		}
		    	 		});
					} else {
						$('#chat_text').val('');
					}
	    	    });

				$('#chat_text').keypress(function(event){
					if(event.keyCode == '13'){
						event.preventDefault();
						if ($.trim($(this).val()).length != 0){
			    			$.ajax({
			    		 		"type"		: $('#chat-form').attr('method'),
			    				"url"		: $('#chat-form').attr('action'),
			    				"dataType"	: "json",
			    				"data"		: $('#chat-form').serialize(),
			    				"cache"		: false,
			    		  		"success"	: function(json) {
			    		  			$('#conv-div').html('');
			    		  			$('#chat_text').val('');
			    		  			$.each(json, function(){
				    		  			$('#conv-div').append(this['value'] + '<br>');
			    		  			});
			    		  			$('#conv-div').scrollTop($('#conv-div').height());
			    		  		}
			    	 		});
						} else {
							$('#chat_text').val('');
						}
					}
				});
			});
		</script>
	</head>
	<body>
		<form id="chat-form" action="." method="post">{% csrf_token %}
			<table width="100%" border="1">
				<tr>
					<td>
						<div id="conv-div" style="height:500px; overflow:auto;">
							{% for each in text %}
								{{ each.created_by }}: {{ each.text }}<br>
							{% endfor %}
						</div>
					</td>
					<td>
						{% for each in logged_users %}
							<p class="online_user" id="{{ each.username }}">{{ each.username }}</p>
						{% endfor %}
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<input type="text" id="chat_text" name="chat_text" />
						<input type="button" id="save" value="Send" />
						<input type="button" id="popup" value="Popup" />
						<div id="chat_div"></div>
						<div id="log"></div>
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>