{% extends 'base.html' %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui-1.10.0.custom.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.ui.chatbox.css" />
{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.0.custom.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.chatbox.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#chat_text').hide();
			setInterval(function() {
    			$.ajax({
    		 		"type"		: "GET",
    				"url"		: "/online_users/",
    				"dataType"	: "json",
    				"cache"		: false,
    		  		"success"	: function(json) {
    		  			$('#users_div').html('');
    		  			$.each(json, function(){
	    		  			$('#users_div').append('<p class="online_user" id="' + this['user'] + '">' + this['user'] + '</p>');
    		  			});
						var box = null;
						$(".online_user").click(function(event, ui) {
							var current_chat_id = "chat_div_".concat(this.id);
				        	$("#chat_div").append('<div id="' + current_chat_id + '"></div>');
				            if(box) {
				            	box.chatbox("option", "boxManager").toggleBox();
				            } else {
				            	box = $("#" + current_chat_id).chatbox({
				            									id:current_chat_id,
				                                                user:{key : "value"},
				                                                title : this.id,
				                                                messageSent : function(id, user, msg) {
				                                                    $('#chat_text').val(msg);
				                                                    $.ajax({
													    		 		"type"		: $('#chat-form').attr('method'),
													    				"url"		: $('#chat-form').attr('action'),
													    				"dataType"	: "json",
													    				"data"		: $('#chat-form').serialize(),
													    				"cache"		: false,
													    		  		"success"	: function(json) {
													    		  		}
													    	 		});
				                                                    $("#" + current_chat_id).chatbox("option", "boxManager").addMsg(id, msg);
				                                                }
			                                                });
			              }
			          });
    		  		}
    	 		});
			}, 2000);


	          $('#conv-div').scrollTop($('#conv-div').height())
			setInterval(function() {
    			$.ajax({
    		 		"type"		: "GET",
    				"url"		: "/users/",
    				"dataType"	: "json",
    				"cache"		: false,
    		  		"success"	: function(json) {
    		  			$('#conv-div').html('');
    		  			$.each(json, function(){
	    		  			$('#conv-div').append(this['value'] + '<br>');
    		  			});
    		  			$('#conv-div').scrollTop($('#conv-div').height());
    		  		}
    	 		});
			}, 2000);

			$('#save').click(function () {
				if ($.trim($('#chat_text').val()).length != 0){
	    			$.ajax({
	    		 		"type"		: $('#chat-form').attr('method'),
	    				"url"		: $('#chat-form').attr('action'),
	    				"dataType"	: "json",
	    				"data"		: $('#chat-form').serialize(),
	    				"cache"		: false,
	    		  		"success"	: function(json) {
	    		  			$('#conv-div').html('');
	    		  			$('#chat_text').val('');
	    		  			$.each(json, function(){
		    		  			$('#conv-div').append(this['value'] + '<br>');
	    		  			});
	    		  			$('#conv-div').scrollTop($('#conv-div').height());
	    		  		}
	    	 		});
				} else {
					$('#chat_text').val('');
				}
    	    });

			$('#chat_text').keypress(function(event){
				if(event.keyCode == '13'){
					event.preventDefault();
					if ($.trim($(this).val()).length != 0){
		    			$.ajax({
		    		 		"type"		: $('#chat-form').attr('method'),
		    				"url"		: $('#chat-form').attr('action'),
		    				"dataType"	: "json",
		    				"data"		: $('#chat-form').serialize(),
		    				"cache"		: false,
		    		  		"success"	: function(json) {
		    		  			$('#conv-div').html('');
		    		  			$('#chat_text').val('');
		    		  			$.each(json, function(){
			    		  			$('#conv-div').append(this['value'] + '<br>');
		    		  			});
		    		  			$('#conv-div').scrollTop($('#conv-div').height());
		    		  		}
		    	 		});
					} else {
						$('#chat_text').val('');
					}
				}
			});
		});
	</script>
{% endblock %}

{% block content %}
	<form id="chat-form" action="." method="post">{% csrf_token %}
		<table width="100%" border="1">
			<tr>
				<td>
					<div id="conv-div" style="height:500px; overflow:auto;">
						{% for each in text %}
							{{ each.created_by }}: {{ each.text }}<br>
						{% endfor %}
					</div>
				</td>
				<td>
					<div id="users_div"></div>
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="text" id="chat_text" name="chat_text" />
					<div id="chat_div"></div>
				</td>
			</tr>
		</table>
	</form>
{% endblock %}
